.curtain{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:none;
    width:100%;
    height:100%;
    z-index:4;
    background-color:#949494;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center top;
    box-shadow:0 0 23px rgba(0,0,0,0.75);
    -webkit-transition-property:
    -webkit-transform, -webkit-transform, -moz-transform;
    -moz-transition-property:-moz-transform, -webkit-transform, -moz-transform;
    transition-property:transform, -webkit-transform, -moz-transform;
    -webkit-transition-duration:1.5s;
    -moz-transition-duration:1.5s;
    transition-duration:1.5s;
    -webkit-transition-timing-function:ease-in-out;
    -moz-transition-timing-function:ease-in-out;
    transition-timing-function:ease-in-out
}
.o_site-header{
    color:white
}
.o-curtain-header{
    background:linear-gradient(#000, transparent)
}
.row{-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 4.4642857143%;
    max-width:85.875rem;
    margin-left:auto;
    margin-right:auto
}
.flex{display:-webkit-box;
    display:-moz-box;
    display:box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex
}
.flex-justify{-webkit-box-pack:justify;
    -moz-box-pack:justify;
    box-pack:justify;
    -ms-flex-pack:justify;
    -webkit-box-pack:justify;
    -moz-box-pack:justify;
    box-pack:justify;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    -ms-justify-content:space-between;
    -o-justify-content:space-between;
    justify-content:space-between;
    -ms-flex-pack:justify
}
.g-3--nvex:nth-child(1n){float:left;margin-right:2.1834061135%;width:23.3624454148%}
.g-3--nvex:nth-child(1n):last-child{margin-right:0}
.g-omega--nvex:nth-child(1n),.g-om-2n--nvex:nth-child(2n),.g-om-3n--nvex:nth-child(3n),.g-om-4n--nvex:nth-child(4n){margin-right:0}}
.o_logo-img{-webkit-align-self:center;
    -moz-align-self:center;
    align-self:center;
    -ms-flex-item-align:center;
    display:block;
    position:relative;
    z-index:1
}
.color-blue{color:#00ADED}
.type-md{font-size:28px}
/* <!///////////////////////////////////////////Abhishek Singh */
.o_primary-nav{
    list-style-type:none;
    -webkit-box-ordinal-group:1;
    -moz-box-ordinal-group:1;
    box-ordinal-group:1;
    -webkit-order:1;
    -moz-order:1;
    order:1;
    -ms-flex-order:1
}
.o_primary-nav-link{
    -webkit-transition:color 0.1s ease;
    -moz-transition:color 0.1s ease;
    transition:color 0.1s ease;
    color:#FFFFFF
}
.o_primary-nav-link:hover{
    text-decoration:none
}
.o_primary-nav-item.active{
    border-bottom:5px solid #2E2E2E;
    padding-bottom:3px;
    border-bottom:5px solid transparent;
    font-size:26px;
    letter-spacing:-1.25px;
}
.type-md{
    font-size:28px;
}
.style-caps{
    text-transform:uppercase;
}
.weight-bold{
    font-weight:700;
}
.mar-y-md{
    margin-top:15px;margin-bottom:15px;
}
.mar-y-0--lg{
    margin-top:0px;margin-bottom:0px;
}
.disp-ib--lg{
    display:inline-block;
}
.mar-r-md{
    margin-right:15px;
}
.o_site-search{
    position:relative;
    -webkit-box-ordinal-group:2;
    -moz-box-ordinal-group:2;
    box-ordinal-group:2;
    -webkit-order:2;
    -moz-order:2;
    order:2;
    -ms-flex-order:2;
    margin-top:7.5px;
}
.float-r--lg{
    float:right;
}
/*    NOT FOUND
o_account-links
o_search-ac
*/
.o_site-search-field{
    padding:7.5px 15px;width:100%;
}
.o_curtain-search-field{
    border:1px solid #F2F2F2;
}
.o_site-search-btn{
    position:absolute;
    top:0;right:0;
    height:100%;
    padding-right:15px;
    background:none;
    border:0;color:#2E2E2E;
    focus{color:#FF0000};
}
.icon-search:before{
    content:"i";
}
.o_utility-nav{-webkit-box-ordinal-group:4;
    -moz-box-ordinal-group:4;
    box-ordinal-group:4;
    -webkit-order:4;
    -moz-order:4;
    order:4;
    -ms-flex-order:4;}
.type-rg{
        font-size:20px;
    }
.mar-t-rg{
    margin-top:10px;
}
.mar-b-xl{
    margin-bottom:60px;
}
.mar-t-md{
    margin-top:15px;
}
.mar-t-sm--lg{
    margin-top:5px;
}
.disp-bl{
    display:block;
}
.disp-ib--lg{
    display:inline-block;
}
.mar-b-md{
    margin-bottom:15px;
}
.mar-b-0--lg{
    margin-bottom:0px;
}
.row{-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 4.4642857143%;
    max-width:85.875rem;
    margin-left:auto;
    margin-right:auto;
}
.row:after{content:"";
    display:table;
    clear:both;
    content:"";
    display:table;clear:both;
}
.curtain-content{
    position:absolute;
    bottom:65px;z-index:5;
}@media screen and (max-width: 44.9375rem)
{.curtain-content{left:4.4642857143%;right:4.4642857143%}}@media screen and (min-width: 64rem){.curtain-content{bottom:80px}}
.g-8--md:nth-child(1n){
    float:left;
    margin-right:2.1834061135%;
    width:65.9388646288%}
.g-8--md:nth-child(1n):last-child{margin-right:0}
.g-5--lg:nth-child(1n){float:left;
    margin-right:2.1834061135%;
    width:40.3930131004%}.g-5--lg:nth-child(1n):last-child{margin-right:0}
.bg-wash-black{background-color:rgba(0,0,0,0.5)}
.color-white{
    color:#FFFFFF;
}
.pad-md{
    padding:15px;
}
.type-md{
    font-size:28px;
}
.type-lg--md{
    font-size:39px;
}
.type-xl--lg{
    font-size:56px;
}
.line-tight{
    line-height:1.15;
}
.weight-bold{
    font-weight:700;
}
.mar-b-md{
    margin-bottom:15px;
}
.mar-b-lg--lg{
    margin-bottom:30px;
}