* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    background-image: linear-gradient(#10002b, #e0aaff);
    background-size: 1000px 1000px;
}

nav {
    /* background: #03071e; */
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    height: 80px;
    width: 100%;
}

nav ul {
    /* float: right; */
    /* margin-right: 20px; */
    text-align: center;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #f8961e;
    transition: .5s;
}

/* Remove hover effect for label inside the ul */
nav ul li a:hover:not(.not_hover) {
    background: none;
    transition: none;
}
